.display {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paper1 {
  background: linear-gradient(
    20deg,
    #ffffff05,
    #1976d200,
    #1976d279,
    #0066cb,
    #0066cb
  );
  width: 900px;
}
.paper2 {
  background: linear-gradient(100deg, #ffffff05, #1976d279, #1976d279, #0066cb);
}
