.paper1 {
  background: linear-gradient(10deg, #1976d28d, #1976d2, #1976d2);
}

.paper2 {
  background: linear-gradient(10deg, #4efb8b, #12cc34, #03ba43);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.389);
}
.paper3 {
  background: linear-gradient(10deg, #fb4e4e, #cc1212, #ba0303);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.389);
}
